<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.app.rmsoft_codingtest.domain.vo.MemberVO" alias="memberVO"></typeAlias>
        <typeAlias type="com.app.rmsoft_codingtest.domain.vo.SubscribeFormVO" alias="subScribeFormVO"></typeAlias>
        <typeAlias type="com.app.rmsoft_codingtest.domain.vo.SubscribeVO" alias="subscribeVO"></typeAlias>
    </typeAliases>
</configuration>