<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.app.rmsoft_codingtest.domain.vo.MemberVO" alias="memberVO"></typeAlias>
        <typeAlias type="com.app.rmsoft_codingtest.domain.vo.SubscribeFormVO" alias="subScribeFormVO"></typeAlias>
        <typeAlias type="com.app.rmsoft_codingtest.domain.vo.SubscribeVO" alias="subscribeVO"></typeAlias>
        <typeAlias type="com.app.rmsoft_codingtest.domain.vo.SubscribeExtensionRequestVO" alias="subscribeExtensionRequestVO"></typeAlias>
        <typeAlias type="com.app.rmsoft_codingtest.domain.vo.StorageVO" alias="storageVO"></typeAlias>
        <typeAlias type="com.app.rmsoft_codingtest.domain.vo.DashboardVO" alias="dashboardVO"></typeAlias>
        <typeAlias type="com.app.rmsoft_codingtest.domain.dto.SubscribeDTO" alias="subscribeDTO"></typeAlias>
        <typeAlias type="com.app.rmsoft_codingtest.domain.dto.SearchDTO" alias="searchDTO"></typeAlias>
        <typeAlias type="com.app.rmsoft_codingtest.domain.dto.DashboardDTO" alias="dashboardDTO"></typeAlias>
    </typeAliases>
</configuration>