<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/join.css">
    <title>회원가입</title>
</head>
<body>
    <div class="box">
        <div class="container">
            <div class="join-box">
                <img src="/image/logo.png" class="logo">
                <div class="input-box">
                    <input type="text" placeholder="NAME" id="memberName">
                </div>
                <div class="input-box">
                    <input type="text" placeholder="ID" id="memberIdentification">
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Password" id="memberPassword">
                </div>
                <button type="button" class="btn">Join</button>
                <div class="join-button">
                    <a href="/member/login" class="join-b info-text">로그인 하러가시겠습니까?</a>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script>
    // ===========================================================================================
    let $memberIdentification = $("#memberIdentification");
    let $memberName = $("#memberName");
    let $memberPassword = $("#memberPassword");
    let check = [false, false, false];

    $(".btn").click(function(e){
        let memberVO = createMemberVO();
        check[0] = idCheck(memberVO);
        check[1] = nameCheck(memberVO.memberName);
        check[2] = passwordCheck(memberVO.memberPassword);

        if(!check[0]){
            alert("아이디 중복 확인");
        }else if(!check[1]){
            alert("이름 입력해주세요.");
        }else if(!check[2]){
            alert("비밀번호 입력해주세요.");
        }else {
            join(memberVO);
        }

    });

    //  아이디 중복 검사
    function idCheck(memberVO){
        let check = false;
        $.ajax({
            url : "/memberRest/idCheck",
            type : "get",
            async: false,
            data : {"memberIdentification" : memberVO.memberIdentification},
            success : function (result){
                check = result;
            }
        });
        return check;
    }

    // 이름 검사
    function nameCheck(name){
        return name;
    }

    // 비밀번호 검사
    function passwordCheck(password){
        return password;
    }

    // 회원 정보담기
    function createMemberVO(){
        let memberVO = new Object();
        memberVO.memberName = $memberName.val();
        memberVO.memberIdentification = $memberIdentification.val();
        memberVO.memberPassword = $memberPassword.val();

        return memberVO;
    }

    // 회원 가입
    function join(memberVO){

        $.ajax({
           url : "/memberRest/join",
           type : "post",
           contentType: "application/json",
           data : JSON.stringify(memberVO),
           success : function(){
               location.href = "/member/login";
           }
        });
    }


</script>
</html>