<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.rmsoft_codingtest.mapper.SubscribeMapper">

    <!-- 구독 신청 -->
    <insert id="insert" parameterType="subscribeVO">
        insert into tbl_subscribe
        (member_id, subscribe_form_id, subscribe_use_people, subscribe_storage_size, subscribe_start_date, subscribe_end_date)
        values(#{memberId}, #{subscribeFormId}, #{subscribeUsePeople}, #{subscribeStorageSize}, #{subscribeStartDate}, #{subscribeEndDate})
    </insert>

</mapper>